ion-col {
  text-align: center;
}

.photo-frame {
  margin: 5vw;
  border: black solid 1px;
  width: 40vw;
  border-radius: .25em;
}

.error {
  color: red;
}

form {
  margin: 5vw;
}

ion-toolbar {
  --background: rgb(74, 6, 6);
}

ion-button {
  --color: initial;
  --background-activated: transparent;
  --background-focused: currentColor;
  --background-hover: currentColor;
  --border-color: currentColor;
}

.error ion-padding {
  color: red;
}

